body {
    display: flex;
    flex-direction: column;
    font-family: Roboto,'Helvetica Neue', sans-serif;
}
.header,.hero{
    background-color: #1F2937;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 64px;
}

.header-links{
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 64px;
    padding: 0;
}
a {
    padding: 8px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 40px;

}
h1{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    height: 10px;
}
h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 64px;
}
button{
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    font-size: 18px;
    padding: 12px 50px;
    align-self: flex-start;
    border-radius: 10px;
}
.hero-image{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    width: 500px;
    height: 250px;
    margin-right: 64px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
}
.information-box-container{
    display: flex;
    justify-content: center;
}
.information-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    text-align: center;
    padding: 24px;

}
.information-box p{
    color: gray;
}
.image-box{
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6 ;
    border-radius: 10px;
}